.footer{
    height: auto;
    background-color: #002531;
}

.footer .footer_media h4{
    margin-top: 45px;
    color: #fff;
    font-size: 15px;
    width: 81%;
    margin-bottom: 27px;
    font-weight: 300;
}

.footer .footer_media .phone a , .footer .footer_media .email a{
    color: #f6fbff;
}
.footer .footer_media .social_media a{
    color: #f6fbff;
    font-size: 25px;
    margin-right: 23px;
}

.newsletter input[type='email']{
    outline: none;
    width: 58%;
    padding: 10px;
    border-radius: 11px;
    border: none;
}
.newsletter input[type='submit']{
    width: 30%;
    background-color: #fd53c0;
    border: 0;
    border-radius: 6px;
    padding: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 17px;
}

@media  screen and (max-width : 576px) {
    .newsletter input[type='email']{
        outline: none;
        width: 100%;
        padding: 10px;
        border-radius: 11px;
        border: none;
    }
    .newsletter{
        display: flex;
        flex-direction: column;
    }
    .newsletter input[type='submit']{
        align-self: end;
    }

}